.casa{
    height: 150px;
    width: 150px;
    border: 4px dashed black;
    display: flex;
    align-items: center;
    font-size: 40pt;
    margin: 4px;
    justify-content: center;
}

.casa:hover{
    border: 4px solid black
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: lightgray
}

header h1{
    color: red;

}

.linha{
    display: flex;
}